body {
    font-family: Arial, sans-serif;
  }
 
  
  .joke {
    font-size: 18px;
  }
  
  #next-joke {
    background-color: #00b4d8;
    border-color: #00b4d8;
  }
  
  #next-joke  {
    background-color: #0096c7;
  }
  